@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap');

*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* LOGO DE WHATSAPP */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#19b552;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
  transition: 0.4s;
  transform: scale(1.2)
}
.my-float{
	margin-top:16px;
}



p{
    font-family: 'Montserrat', sans-serif;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
    font-family: 'Montserrat', sans-serif;
}


.nav-item a:hover   {
    color: rgb(20, 219, 20);
}


.navbar-brand   {
    height: 50px;
    width: 100px;
}


.search {
    height: 45px;
    outline: none;
    border: 2px solid rgb(20, 219, 20) ;
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}

.btn1   {
    height:45px ;
    outline: none;
    border: none;
    background-color: rgb(20, 219, 20);
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}

.btn1:hover {
    background-color: rgb(15, 123, 15);
}


.bi-bag-check   {
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
} 

.bi-bag-check:hover {
    color: rgb(20, 219, 20)
}


.navbar-toggler {
    font-size: 23px;
    color: black;
}

.navbar-toggler:focus   {
    outline:none;
    box-shadow: none;

}


/* <!-- ===========================MAIN============================ --> */
/* .main   {
    background: url(../imagenes/grupo-de-frutas-maduras-tropicales-en-el-fondo-blanco-82561512.jpg)no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;     
} */


.main h1{
    font-size: 5rem;
    font-family: 'Righteous', cursive;
}

.main p:nth-child(1)    {
    font-size: 18px;
    font-weight: 500;
}
.main p:nth-child(2){
    font-size: 18px;
    color: gray;
}
.mbtn1  {
    height: 50px;
    width: 25%;
    outline:none ;
    border:none;
    color: white;
    background-color: rgb(20, 219, 20);
    border-radius: 50px;
    transition: all 0.4s;
}
.mbtn1:hover    {
    background-color: rgb(15, 123, 15);
}
.mbtn2  {
    height: 50px;
    width: 25%;
    outline:none ;
    background-color:transparent;
    color: rgb(20, 219, 20);
    border: 1px solid rgb(20, 219, 20);
    border-radius: 50px;
    transition: all 0.4s;
}
.mbtn2:hover    {
    background-color: rgb(15, 123, 15);
    border: none;
    color: white;
}
    


.container{
    max-width: 1200px;
}


.r{
    padding-left: 20%;
    padding-right: 20%;
}

.fondo-comprar{
    background-color: rgb(255, 199, 88);
    border: solid 5px;
    border-color: rgb(255, 199, 88);
    margin-left: 240px;
    margin-right: 240px;
    cursor: pointer;
}
.comprar{
    display: inline-block;
}

.fondo-comprar:hover{
    background-color: rgb(147, 147, 147);
    border: solid 5px;
    border-color: rgb(147, 147, 147);
    transition: 1s;
}






