@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


/**************************/
/*** MENU HAMBURGUESA ****/
/************************/
.hamburger {
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
}
.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}
.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}
.hamburger.is-active .hamburger__inner {
  display: none;
}
.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: rgb(94, 128, 0);
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: rgb(94, 128, 0);
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.hamburger__inner::before {
  top: -13px;
}
.hamburger__inner::after {
  top: 13px;
}
.hamburger:hover .hamburger__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}
.hamburger:hover .hamburger__hidden::before,
.hamburger:hover .hamburger__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}
.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}
.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: rgb(228, 194, 0);
  top: 50%;
  transform: translate(51px, -50%);
}
.hamburger__hidden::before,
.hamburger__hidden::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: rgb(228, 194, 0);
  content: "";
  transform: translate(102px, 0);
}
.hamburger__hidden::before {
  top: -13px;
}
.hamburger__hidden::after {
  top: 13px;
}


/*************************/
/*** LOGO DE WHATSAPP ***/
/***********************/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #19b552;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  transition: 0.5s;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
  transition: 0.4s;
  transform: scale(1.2);
}
.my-float {
  margin-top: 16px;
}
p {
  font-family: "Montserrat", sans-serif;
}


/**********************************/
/*** Envío gratis desde $6.000 ***/
/********************************/
.fondo-Envío-gratis-desde-6000{
  background-color:rgb(228, 194, 0);
}
.fondo-Envío-gratis-desde-6000 p{
  padding: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: white;
  margin-bottom: 0px;
}

/****************************/
/*** BARRA DE NAVEGACION ***/
/**************************/
.fondo-navbar{
  background-color: white;
  box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0, 0.288);
}
.nav-item a {
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 15px;
  transition: all 0.4s;
  font-family: "Montserrat", sans-serif;
}
.diseño-navbar li{
  border-bottom: 0px;
  margin-left: 0em;
}
.nav-item a:hover {
  color: rgb(172, 161, 6);
  transform: scale(1.05);
}
.bi-bag-check {
  font-size: 30px;
  color: black;
  cursor: pointer;
  padding-top: 5px;
  transition: all 0.4s;
}
.bi-bag-check:hover {
  color: rgb(20, 219, 20);
}
.navbar-toggler {
  font-size: 23px;
  color: black;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.imagen-logo-navbar{
height: 50px;
}

/* LOGOS NABVAR */
.posicion-logos-navbar {
  display: flex;
  flex-direction: row;
}
.logos-navbar {
  color:  rgb(94, 128, 0) ;
  font-size: 25px;
  transition: 0.5s ;
  letter-spacing:10px;
}
.logos-navbar:hover {
  transform: scale(1.2);
  transition: 1s;
}
.logos-navbar a{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.logos-navbar a:hover{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(228, 194, 0);
}

/*******************************/
/*** TEXTO IMAGEN PRINCIPAL ***/
/*****************************/
.mbtn1 {
  height: 50px;
  width: 25%;
  outline: none;
  border: none;
  color: white;
  background-color:  rgb(94, 128, 0);
  border-radius: 50px;
  transition: all 0.4s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 40px;
}
.mbtn1:hover {
  background-color: rgb(255, 199, 88);
}
.mbtn2 {
  height: 50px;
  width: 25%;
  outline: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(94, 128, 0);
  border-radius: 50px;
  transition: all 0.4s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.mbtn2:hover {
  background-color: rgb(172, 161, 6);
  border: none;
  color: white;
}
.boton-imagen-principal.btn-separado {
  margin-right: 5%;
  background-color: rgb(255, 255, 255);
  border: solid 5px ; 
  border-color: rgb(255, 255, 255);
  margin-top: 10px;
  border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal.active {
  background-color:  rgb(197, 185, 10);
  border: solid 5px;
  border-color:  rgb(197, 185, 10); 
  margin-top: 10px;
  border-radius: 25px 25px 25px 25px;
  transition: 0.5s;
}
.boton-imagen-principal:hover {
  background-color: rgb(197, 185, 10);
  border: solid 5px;
  border-color:  rgb(197, 185, 10); 
  margin-top: 10px; 
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/**********************/
/*** BOTON COMPRAR ***/
/********************/
.fondo-comprar {
  background-color: rgb(255, 199, 88);
  border: solid 5px;
  border-color: rgb(255, 199, 88);
  transition: 0.5s;
  cursor: pointer;
}
.comprar {
  display: inline-block;
}
.fondo-comprar:hover {
  background-color: rgb(147, 147, 147);
  border: solid 5px;
  border-color: rgb(147, 147, 147);
  transition: 0.5s;
}
.combo-familiar{
  margin-left: 20%;
  margin-right: 20%;
}


/******************************/
/*** DISEÑO PARRAFO TIENDA ***/
/****************************/
.tiendaComboFamiliar-marginTop{
  margin-top: 5em;
}
.parrafo-tienda{
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 25px;
}


/**********************************/
/*** diseño carrito de compras ***/
/********************************/
.contenedor {
  display: flex;
  justify-content: space-between;
}


/*****************************/
/*** DISEÑO-LISTA-COMPRAS ***/
/***************************/
.fondo-tienda{
   background-color: rgb(49, 49, 49);
}
.fruta {
    background-color: white;
    text-align: center;
    width: 200px;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 20px 20px 20px 20px;
    transition: 0.5s;
    border: solid transparent;
  }
.fruta h3{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.fruta p {
  font-family: "Montserrat", sans-serif;
}
.fruta:hover{
  transition: 0.20s;
    transform: scale(1.03);
    border: 2px;
    border: solid rgb(94, 128, 0);
}
  .fruta img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 18px 18px 0px 0px;
  }


  /******************************/
  /*** BOTON AGREGAR CARRITO ***/
  /****************************/
  .boton-carrito {
    background-color: rgb(94, 128, 0);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
    font-family: "Montserrat", sans-serif;
  }
  .boton-carrito:hover {
    background-color: rgb(172, 161, 6);
    color: white;
    padding: 5px 10px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.20s;
    transform: scale(1.10);
  }


  /*******************************/
  /*** DISEÑO-CARRITO-COMPRAS ***/
  /*****************************/
  .carrito li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carrito {
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
     /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.315) 100%, rgb(0, 0, 0) 100%),url("../frutas.jpg"); */
    background-color: rgb(167, 167, 167);
    border: 2px solid   rgb(167, 167, 167);
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    text-align: center;
    width: 30%;
  }
.carrito h2 {
  background-color: rgb(94, 128, 0);
  border-radius: 15px 15px 0px 0px;
  padding: 1px;
  font-family: "Montserrat", sans-serif;
}
.precio{
  font-family: "Montserrat", sans-serif;
  color: rgb(56, 56, 56);
}
.lista-productos{
  font-family: "Montserrat", sans-serif;
  color: rgb(56, 56, 56);
  font-size: 18px;
}
.resumen-de-compra {
  font-size: 20px;
  color: white;
}
.boton-comprar{
  background-color: rgb(94, 128, 0);
  color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.5s;
}
.boton-comprar:hover{
  background-color: rgb(34, 172, 6);
  color: white;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.20s;
  transform: scale(1.02);
}
.boton-vaciar{
  background-color: rgb(129, 83, 36);
  color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.5s;
}
.boton-vaciar:hover{
  background-color:  rgb(172, 161, 6);
  transition: 0.25s;
  transform: scale(1.0);
  border-radius: 10px 10px 10px 10px;
}
li {
  margin-left: -2em;
  list-style-type: none;
  font-size: 1em;
  font-weight: 600;
  border-bottom: 2px solid rgb(201, 200, 200);
}



/**************/
/*** VINOS ***/
/************/
.vinos{
  padding: 100px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.692) 100%, rgb(0, 0, 0) 100%),url("../imagenes/vino-2.jpg");
  background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
}
.vinos h1{
  color: white;
}
.boton-vinos{
 padding: 10px;
 border: 0px;
 border-radius: 20px 20px 20px 20px;
 font-weight: 600;
 transition: 0.5s;
}
.boton-vinos:hover{
color: white;
background-color:rgb(197, 181, 170);
transition: 0.25s;
transform: scale(1.1);
}
.parrafo-vinos{
  color: white;
}


/*****************************/
/*** ORGÁNICO CERTIFICADO ***/
/***************************/
#certificado {
  /* establecer la altura máxima del contenedor para evitar que el contenido se desborde */
  max-height: 300px;
  overflow: hidden;
}
.scroll-container {
  /* establecer la altura del contenedor para que las imágenes se muestren en una sola línea */
  height: 100%;
  /* establecer un desplazamiento horizontal infinito */
  animation-name: scroll-left;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.img-container {
  display: flex;
  /* ajustar el ancho del contenedor para que las imágenes no se desborden */
  
}
.img-container img {
  height: 100%;
  /* añadir un margen a la derecha para separar las imágenes */
  margin-right: 20px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/***************/
/*** FOOTER ***/
/*************/
.fondo-footer{
  /* background-color: rgb(94, 128, 0); */
  background-color:  rgba(68,116,60,0.1);
}
.medios-de-pago {
  border-top: solid 1px;
  border-color: rgb(216, 216, 216);
  text-align: center;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
}
.solicitar-informacion, p, a{
  color: rgb(94, 128, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.solicitar-informacion, a:hover{
  color:rgb(228, 194, 0);
}
.boton-contactar{
  background-color: rgb(228, 194, 0);
  border: solid 20px 20px 20px 20x;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.boton-contactar:hover{
  background-color:rgb(94, 128, 0);
  transition: 0.5s;
  color: white;
}
.titulo-medios,.logos-pagos {
  display: inline-block;
  /* vertical-align: middle; */
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
}
.titulo-medios {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color:  rgb(94, 128, 0);
  margin-right: 2em;
  font-family: "Montserrat", sans-serif;
}
.logos-pagos {
  margin-left: 10px;
  letter-spacing:2em;
  font-family: "Montserrat", sans-serif;
}
.logos-pagos img {
  max-height: 30px;
  max-width: 100%;
  transition: 0.5s;
  
}
.logos-pagos img:hover{
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow:
  inset 0 -3em 3em rgb(94, 128, 0),
        /* 0 0  0 2px rgb(94, 128, 0), */
        0.3em 0.3em 1em rgb(94, 128, 0);
}
.fondoCopyright{
  background-color:  rgb(94, 128, 0);
  margin-bottom: -17px;
  padding-top: 1em;
  padding-bottom: 1em;
}
.fondoCopyright p{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.logos-contacto-footer {
  color:  rgb(94, 128, 0) ;
  font-size: 1em;
  transition: 0.5s ;
}
.logos-contacto-footer:hover {
  transform: scale(1.2);
  transition: 1s;
  
}
.logos-contacto-footer a{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.logos-contacto-footer a:hover{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(228, 194, 0);
}



/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/

@media screen and (min-width: 931px) and (max-width: 1100px) {
/******************************************/
/*** IMAGENES PRINCIPALES DE LA PAGINA ***/
/****************************************/
.mbtn1 {
  height: 18px;
  width: 30%;
  border-radius: 50px;
  font-size: 10px;
  margin-top: -3em;
}
.mbtn2 {
  height: 18px;
  width: 40%;
  font-weight: 500;
  font-size: 10px;
}
.carousel-caption {
  position: absolute;
  top: 40%;
  transform: translateY(-20%);
}
.carousel-caption p,h1{
font-size: 10px;
}
.boton-imagen-principal.btn-separado {
margin-right: 5%;
background-color: rgb(255, 255, 255);
border: solid 1px ; 
border-color: rgb(255, 255, 255);
border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal.active {
background-color:  rgb(197, 185, 10);
border: solid 1px;
border-color:  rgb(197, 185, 10); 
border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal:hover {
background-color: rgb(197, 185, 10);
border: solid 5px;
border-color:  rgb(197, 185, 10); 
}
/*****************************/
/*** DISEÑO-LISTA-COMPRAS ***/
/***************************/
.contenedor {
flex-direction: row;
justify-content: space-between;
}
.fruta {
 background-color: white;
 text-align: center;
 width: 30%;
 display: inline-block;
 border-radius: 10px 10px 10px 10px;
 transition: 0.5s;
 border: 2px solid transparent;   
}
.fruta h3{
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 15px;
}
.fruta p {
font-family: "Montserrat", sans-serif;
font-size: 13px;
margin-bottom: -5px;
}
.fruta img {
 border-radius: 8px 8px 0px 0px;
}
/******************************/
/*** BOTON AGREGAR CARRITO ***/
/****************************/
.boton-carrito {
  padding: 2px 7px;
  font-size: 11px;
}
.boton-carrito:hover {
  font-size: 11px;
  padding: 1px 6px;
  border-radius: 2px 2px 2px 2px;
  transform: scale(1.10);
}
/*******************************/
/*** DISEÑO-CARRITO-COMPRAS ***/
/*****************************/
.carrito {
  margin-right: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(167, 167, 167);
  border: 1px solid rgb(167, 167, 167);
  border-radius: 8px 8px 8px 8px;
  padding: 5px;
  width: 35%;
}
.carrito h2 {
background-color: rgb(94, 128, 0);
border-radius: 8px 8px 0px 0px;
padding: 1px;
font-family: "Montserrat", sans-serif;
font-size: 10px;
}
.lista-productos{
font-family: "Montserrat", sans-serif;
color: rgb(56, 56, 56);
}
.resumen-de-compra {
font-size: 10px;
color: white;
}
.boton-comprar{
  font-size: 10px;
}
.boton-vaciar{
  font-size: 10px;
}
li {
margin-left: -3em;
list-style-type: none;
font-size: 10px;
font-weight: 600;
border-bottom: 2px solid rgb(201, 200, 200);
}
    
}


@media screen and (min-width: 769px) and (max-width: 930px) {
/******************************************/
/*** IMAGENES PRINCIPALES DE LA PAGINA ***/
/****************************************/
.mbtn1 {
  height: 30px;
  width: 30%;
  border-radius: 50px;
  font-size: 20px;
  margin-top: -3em;
  margin-top: 20px;
}
.mbtn2 {
  height: 30px;
  width: 35%;
  font-weight: 500;
  font-size: 20px;
}
.carousel-caption {
  position: absolute;
  top: 40%;
  transform: translateY(-20%);
}
.carousel-caption p,h1{
font-size: 1em;
}
.boton-imagen-principal.btn-separado {
margin-right: 5%;
background-color: rgb(255, 255, 255);
border: solid 1px ; 
border-color: rgb(255, 255, 255);
border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal.active {
background-color:  rgb(197, 185, 10);
border: solid 1px;
border-color:  rgb(197, 185, 10); 
border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal:hover {
background-color: rgb(197, 185, 10);
border: solid 5px;
border-color:  rgb(197, 185, 10); 
}
/*****************************/
/*** DISEÑO-LISTA-COMPRAS ***/
/***************************/
.contenedor {
flex-direction: row;
justify-content: space-between;
}
.fruta {
 background-color: white;
 text-align: center;
 width: 44%;
 display: inline-block;
 border-radius: 10px 10px 10px 10px;
 transition: 0.5s;
 border: 2px solid transparent;   
}
.fruta h3{
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 15px;
}
.fruta p {
font-family: "Montserrat", sans-serif;
font-size: 13px;
margin-bottom: -5px;
}
.fruta img {
 border-radius: 8px 8px 0px 0px;
}
/******************************/
/*** BOTON AGREGAR CARRITO ***/
/****************************/
.boton-carrito {
  padding: 2px 7px;
  font-size: 11px;
}
.boton-carrito:hover {
  font-size: 11px;
  padding: 1px 6px;
  border-radius: 2px 2px 2px 2px;
  transform: scale(1.10);
}
/*******************************/
/*** DISEÑO-CARRITO-COMPRAS ***/
/*****************************/
.carrito {
  margin-right: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(167, 167, 167);
  border: 1px solid rgb(167, 167, 167);
  border-radius: 8px 8px 8px 8px;
  padding: 5px;
  width: 35%;
}
.carrito h2 {
background-color: rgb(94, 128, 0);
border-radius: 8px 8px 0px 0px;
padding: 1px;
font-family: "Montserrat", sans-serif;
font-size: 10px;
}
.lista-productos{
font-family: "Montserrat", sans-serif;
color: rgb(56, 56, 56);
}
.resumen-de-compra {
font-size: 10px;
color: white;
}
.boton-comprar{
  font-size: 10px;
}
.boton-vaciar{
  font-size: 10px;
}
li {
margin-left: -3em;
list-style-type: none;
font-size: 10px;
font-weight: 600;
border-bottom: 2px solid rgb(201, 200, 200);
}
}
   





@media screen and (min-width: 577px) and (max-width: 768px) {
/******************************************/
/*** IMAGENES PRINCIPALES DE LA PAGINA ***/
/****************************************/
.mbtn1 {
  height: 30px;
  width: 30%;
  border-radius: 50px;
  font-size: 20px;
  margin-top: -3em;
  margin-top: 20px;
}
.mbtn2 {
  height: 30px;
  width: 35%;
  font-weight: 500;
  font-size: 20px;
}
.carousel-caption {
  position: absolute;
  top: 40%;
  transform: translateY(-20%);
}
.carousel-caption p,h1{
font-size: 1em;
}
.boton-imagen-principal.btn-separado {
margin-right: 5%;
background-color: rgb(255, 255, 255);
border: solid 1px ; 
border-color: rgb(255, 255, 255);
border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal.active {
background-color:  rgb(197, 185, 10);
border: solid 1px;
border-color:  rgb(197, 185, 10); 
border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal:hover {
background-color: rgb(197, 185, 10);
border: solid 5px;
border-color:  rgb(197, 185, 10); 
}
/*****************************/
/*** DISEÑO-LISTA-COMPRAS ***/
/***************************/
.contenedor {
flex-direction: row;
justify-content: space-between;
}
.fruta {
 background-color: white;
 text-align: center;
 width: 44%;
 display: inline-block;
 border-radius: 10px 10px 10px 10px;
 transition: 0.5s;
 border: 2px solid transparent;   
}
.fruta h3{
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 15px;
}
.fruta p {
font-family: "Montserrat", sans-serif;
font-size: 13px;
margin-bottom: -5px;
}
.fruta img {
 border-radius: 8px 8px 0px 0px;
}
/******************************/
/*** BOTON AGREGAR CARRITO ***/
/****************************/
.boton-carrito {
  padding: 2px 7px;
  font-size: 11px;
}
.boton-carrito:hover {
  font-size: 11px;
  padding: 1px 6px;
  border-radius: 2px 2px 2px 2px;
  transform: scale(1.10);
}
/*******************************/
/*** DISEÑO-CARRITO-COMPRAS ***/
/*****************************/
.carrito {
  margin-right: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(167, 167, 167);
  border: 1px solid rgb(167, 167, 167);
  border-radius: 8px 8px 8px 8px;
  padding: 5px;
  width: 35%;
}
.carrito h2 {
background-color: rgb(94, 128, 0);
border-radius: 8px 8px 0px 0px;
padding: 1px;
font-family: "Montserrat", sans-serif;
font-size: 10px;
}
.lista-productos{
font-family: "Montserrat", sans-serif;
color: rgb(56, 56, 56);
}
.resumen-de-compra {
font-size: 10px;
color: white;
}
.boton-comprar{
  font-size: 10px;
}
.boton-vaciar{
  font-size: 10px;
}
li {
margin-left: -3em;
list-style-type: none;
font-size: 10px;
font-weight: 600;
border-bottom: 2px solid rgb(201, 200, 200);
}
}



@media screen and (min-width:481px) and (max-width: 576px) {
/******************************************/
/*** IMAGENES PRINCIPALES DE LA PAGINA ***/
/****************************************/
  .mbtn1 {
    height: 18px;
    width: 30%;
    border-radius: 50px;
    font-size: 10px;
    margin-top: -3em;
  }
  .mbtn2 {
    height: 18px;
    width: 40%;
    font-weight: 500;
    font-size: 10px;
  }
  .carousel-caption {
    position: absolute;
    top: 30%;
    transform: translateY(-20%);
  }
.carousel-caption p,h1{
  font-size: 10px;
}
.boton-imagen-principal.btn-separado {
  margin-right: 5%;
  background-color: rgb(255, 255, 255);
  border: solid 1px ; 
  border-color: rgb(255, 255, 255);
  border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal.active {
  background-color:  rgb(197, 185, 10);
  border: solid 1px;
  border-color:  rgb(197, 185, 10); 
  border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal:hover {
  background-color: rgb(197, 185, 10);
  border: solid 5px;
  border-color:  rgb(197, 185, 10); 
}
/*****************************/
/*** DISEÑO-LISTA-COMPRAS ***/
/***************************/
.contenedor {
  flex-direction: row;
  justify-content: space-between;
}
.fruta {
   background-color: white;
   text-align: center;
   width: 44%;
   display: inline-block;
   border-radius: 10px 10px 10px 10px;
   transition: 0.5s;
   border: 2px solid transparent;   
 }
.fruta h3{
 font-family: "Montserrat", sans-serif;
 font-weight: 600;
 font-size: 15px;
}
.fruta p {
 font-family: "Montserrat", sans-serif;
 font-size: 13px;
 margin-bottom: -5px;
}
 .fruta img {
   border-radius: 8px 8px 0px 0px;
 }
/******************************/
/*** BOTON AGREGAR CARRITO ***/
/****************************/
  .boton-carrito {
    padding: 2px 7px;
    font-size: 11px;
  }
  .boton-carrito:hover {
    font-size: 11px;
    padding: 1px 6px;
    border-radius: 2px 2px 2px 2px;
    transform: scale(1.10);
  }
/*******************************/
  /*** DISEÑO-CARRITO-COMPRAS ***/
  /*****************************/
  .carrito {
    margin-right: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(167, 167, 167);
    border: 1px solid rgb(167, 167, 167);
    border-radius: 8px 8px 8px 8px;
    padding: 5px;
    width: 35%;
  }
.carrito h2 {
  background-color: rgb(94, 128, 0);
  border-radius: 8px 8px 0px 0px;
  padding: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
.lista-productos{
  font-family: "Montserrat", sans-serif;
  color: rgb(56, 56, 56);
}
.resumen-de-compra {
  font-size: 10px;
  color: white;
}
.boton-comprar{
    font-size: 10px;
}
.boton-vaciar{
    font-size: 10px;
}
li {
  margin-left: -3em;
  list-style-type: none;
  font-size: 10px;
  font-weight: 600;
  border-bottom: 2px solid rgb(201, 200, 200);
}
}


@media screen and (min-width:320px) and (max-width: 480px) {
/**********************************/
/*** Envío gratis desde $6.000 ***/
/********************************/
.fondo-Envío-gratis-desde-6000 p{
  font-size: 12px;
  color: white;
}
/***********************/
/*** COMBO FAMILIAR ***/
/*********************/
.logo-frutas{
  font-size: 13px;
}
/**********************/
/*** BOTON COMPRAR ***/
/********************/
.combo-familiar{
  margin-left: 10%;
  margin-right: 10%;
}
/******************************/
/*** DISEÑO PARRAFO TIENDA ***/
/****************************/
.tiendaComboFamiliar-marginTop{
  margin-top: 3em;
  margin-bottom: -1em;
}
/******************************************/
/*** IMAGENES PRINCIPALES DE LA PAGINA ***/
/****************************************/
  .mbtn1 {
    height: 18px;
    width: 30%;
    border-radius: 50px;
    font-size: 10px;
    margin-top: -3em;
  }
  .mbtn2 {
    height: 18px;
    width: 40%;
    font-weight: 500;
    font-size: 10px;
  }
  .carousel-caption {
    position: absolute;
    top: 15%;
    transform: translateY(-20%);
  }
.carousel-caption p,h1{
  font-size: 10px;
}
.boton-imagen-principal.btn-separado {
  margin-right: 5%;
  background-color: rgb(255, 255, 255);
  border: solid 1px ; 
  border-color: rgb(255, 255, 255);
  border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal.active {
  background-color:  rgb(197, 185, 10);
  border: solid 1px;
  border-color:  rgb(197, 185, 10); 
  border-radius: 25px 25px 25px 25px;
}
.boton-imagen-principal:hover {
  background-color: rgb(197, 185, 10);
  border: solid 5px;
  border-color:  rgb(197, 185, 10); 
}
/*****************************/
/*** DISEÑO-LISTA-COMPRAS ***/
/***************************/
.contenedor {
  flex-direction: row;
  justify-content: space-between;
}
.fruta {
   background-color: white;
   text-align: center;
   width: 39%;
   display: inline-block;
   border-radius: 10px 10px 10px 10px;
   transition: 0.5s;
   border: 2px solid transparent;   
 }
.fruta h3{
 font-family: "Montserrat", sans-serif;
 font-weight: 600;
 font-size: 8px;
}
.fruta p {
 font-family: "Montserrat", sans-serif;
 font-size: 6px;
 margin-bottom: -5px;
}
.fruta:hover{
 transition: 0.20s;
   transform: scale(1.03);
   border: 1px;
   border: solid rgb(94, 128, 0);
}
 .fruta img {
   width: 100%;
   height: auto;
   margin-bottom: 10px;
   border-radius: 8px 8px 0px 0px;
 }
/******************************/
/*** BOTON AGREGAR CARRITO ***/
/****************************/
  .boton-carrito {
    background-color: rgb(94, 128, 0);
    color: white;
    padding: 2px 7px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: 0.5s;
    font-size: 4px;
    font-family: "Montserrat", sans-serif;
  }
  .boton-carrito:hover {
    font-size: 4px;
    background-color: rgb(172, 161, 6);
    color: white;
    padding: 1px 6px;
    border-radius: 2px 2px 2px 2px;
    border: none;
    cursor: pointer;
    transition: 0.20s;
    transform: scale(1.10);
  }
/*******************************/
  /*** DISEÑO-CARRITO-COMPRAS ***/
  /*****************************/
  .carrito {
    margin-right: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(167, 167, 167);
    border: 1px solid rgb(167, 167, 167);
    border-radius: 8px 8px 8px 8px;
    padding: 5px;
    width: 30%;
  }
.carrito h2 {
  background-color: rgb(94, 128, 0);
  border-radius: 8px 8px 0px 0px;
  padding: 1px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}
.precio{
  font-family: "Montserrat", sans-serif;
  
  color: rgb(56, 56, 56);
}
.lista-productos{
  font-family: "Montserrat", sans-serif;
  color: rgb(56, 56, 56);
  font-size: 18px;
}
.resumen-de-compra {
  font-size: 6px;
  color: white;
}
.boton-comprar{
    font-size: 6px;
}
.boton-vaciar{
  background-color: rgb(129, 83, 36);
  color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.5s;
    font-size: 6px;
}
.boton-vaciar:hover{
  background-color:  rgb(172, 161, 6);
  transition: 0.25s;
  transform: scale(1.0);
  border-radius: 10px 10px 10px 10px;
}
li {
  margin-left: -4em;
  margin-top: 10px;
  list-style-type: none;
  font-size: 7px;
  font-weight: 600;
  border-bottom: 2px solid rgb(201, 200, 200);
}
#total-carrito {
  font-size: 0.80rem;
}
/**************/
/*** VINOS ***/
/************/
.vinos h1{
  color: white;
  font-size: 2em;
}
.boton-vinos{
 font-size: 10px;
}
/*****************************/
/*** ORGÁNICO CERTIFICADO ***/
/***************************/
#certificado {
  max-height: 400px;
}
/***************/
/*** FOOTER ***/
/*************/
.fondo-footer p{
  margin-top: 1em;
}
.logos-contacto-footer {
  color:  rgb(94, 128, 0) ;
  font-size: 1em;
  transition: 0.5s ;
}
.logos-contacto-footer:hover {
  transform: scale(1.2);
  transition: 1s;
  
}
.logos-contacto-footer a{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.logos-contacto-footer a:hover{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(228, 194, 0);
}
.titulo-medios {
  margin-right: 0em;
}
.logos-pagos img {
  margin-top: 10px;
}
.fondoCopyright{
  margin-bottom: -17px;
  padding-top: 10px;
  padding-bottom: 2px;
}
.fondoCopyright p{
margin-left: 2%;
margin-right: 2%;
  font-size: 10px;
}
}

